# Créer une base de donnée, la sélectionner et créer une table

In [ ]:
CREATE DATABASE dbtest;

USE dbtest;

CREATE TABLE utilisateur (
id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY,
nom VARCHAR(100),
prenom VARCHAR(100),
email VARCHAR(255) NOT NULL UNIQUE
);

# Create
- Réaliser une opération d'écriture dans une table de la base de donnée

In [ ]:
INSERT INTO `utilisateur` (`nom`, `prenom`, `email`)
VALUES ('Durantay', 'Quentin', 'quentin@gmail.com');

- On peut aussi réaliser plusieurs enregistrements en même temps

In [ ]:
INSERT INTO `utilisateur` (`nom`, `prenom`, `email`)
VALUES
('Doe', 'John', 'john@yahoo.fr'),
('Smith', 'Jane', 'jane@hotmail.com'),
('Dupont', 'Sebastien', 'sebastien@orange.fr'),
('Martin', 'Emilie', 'emilie@gmail.com');

# Read
- Les objets d’une table se lisent avec la commande**`SELECT FROM`**.
- Lors de l’utilisation de cette commande, on mentionne quelles sont les colonnes que l’on veut afficher en les séparant par des virgules.
- On peut aussi toutes les sélectionner grâce au signe `*`.

In [ ]:
SELECT `nom`, `prenom`, `email` FROM utilisateur;

# Update

|   |   |
|---|---|
|**Mot clé**|**Description**|
|_**UPDATE** table_|Signifie à SQL que vous souhaitez **mettre à jour de la donnée** dans votre BDD. Vous indiquez aussi la table dans laquelle se trouve(nt) le ou les objets que vous souhaitez modifier.|
|_**SET** colonne = valeur_|Sert à indiquer à SQL quelles sont la ou les **colonnes à modifier**, et quelles sont la ou les **valeurs** qu’elles doivent désormais prendre.|
|_**WHERE** colonne = valeur_|C’est ce qu’on appelle un **filtre**. Vous allez les voir plus en détail dans la partie 3, mais sachez qu’ils servent à **restreindre la commande** en cours à un ou des objets répondant à des conditions précises. Ici, on va mettre à jour uniquement l’objet dont l’id est 1, soit le premier utilisateur !|

In [ ]:
UPDATE `utilisateur` SET `email` = 'quentind@gmail.com' WHERE `id` = '1';

> Il est tout à fait possible d’utiliser **`UPDATE`**  sans filtres (sans  **`WHERE`**). Néanmoins, la commande modifierait **tous les objets de notre table**. C’est très rarement ce que l’on souhaite.

# Delete
- On supprime les objets d’une table avec la commande **`DELETE`**. 
- Si on ne filtre pas avec **`WHERE`**, on risque de supprimer tous les objets de la table.
- On peut supprimer une table ou une base de donnée avec la commande  **`DROP TABLE`**  ou  **`DROP DATABASE`** .

# Filtres
Pour réaliser une requête en fonction

In [ ]:
DELETE FROM `utilisateur` WHERE `id` = '2';
DROP TABLE `utilisateur`;
DROP DATABASE database1 ;

In [ ]:
SELECT * FROM utilisateur WHERE email LIKE "%gmail.com";

> On peut également effectuer un filtre à l'aide des opérateurs de comparaison à l'intérieur de notre clause WHERE.