# Step 1

Pour commencer, dans un nouveau fichier Jupyter Notebook à votre nom, créer le premier dictionnaire 
vide client1

In [2]:
client1 = {}

print(client1)

{}

# Step 2

Récupérer les 4 données du client1 en utilisant une boucle, qu’il rentrera directement en console. Puis 
imprimer les données du premier client. N’oubliez pas le commentaire dans le bloc.

In [4]:
for i in range(4):
    champs = input("Quel attribut ? ")
    valeur = input("Donnez le " + champs + ": ")
    client1[champs] = valeur

Quel attribut ? Nom
Donnez le Nom: AGU
Quel attribut ? Prénom
Donnez le Prénom: Patrick
Quel attribut ? Sexe
Donnez le Sexe: M
Quel attribut ? Solde
Donnez le Solde: 3000

In [5]:
print(client1)

{'AGU': 'Patrick', 'Nom': 'AGU', 'Prénom': 'Patrick', 'Sexe': 'M', 'Solde': '3000'}

# Step 3

Créer une liste de 13 dictionnaires (clients) qui possèdent les mêmes clés (attributs)

In [6]:
client2 = {}
client3 = {}
client4 = {}
client5 = {}
client6 = {}
client7 = {}
client8 = {}
client9 = {}
client10 = {}
client11 = {}
client12 = {}
client13 = {}

clients = [client1, client2, client3, client4, client5, client6, client7, client8, client9, client10, client11, client12, client13]

# Step 4
Créer une boucle pour récupérer les données de tous les clients. Exécuter la pour entrer leurs données 
directement en console. N’oubliez pas les commentaires.

In [8]:
#lire les données de tous les clients
for i in range(4):
    #lire attribut pour chaque champ (clé)
    champs = input("Quel attribut ? ")
    # boucle imbriquée pour lire valeur de chaque colonne
    j = 1
    for client in clients:
        if client == client1:
            j +=1
            continue
        valeur = input("Donnez le " + champs + " du client n°" + str(j) + " : ")
        if champs == "Solde":
            client[champs] = int(valeur)
        else: 
            client[champs] = valeur
        j += 1

Quel attribut ? Nom
Donnez le Nom du client n°2 : JANAS
Donnez le Nom du client n°3 : BAYAR
Donnez le Nom du client n°4 : BONNIN
Donnez le Nom du client n°5 : CARREY
Donnez le Nom du client n°6 : CHELEDNIK
Donnez le Nom du client n°7 : CHIKRI
Donnez le Nom du client n°8 : DESSONLIN
Donnez le Nom du client n°9 : LAKDHAR EZZINE
Donnez le Nom du client n°10 : MEUNIER
Donnez le Nom du client n°11 : MOHAMED
Donnez le Nom du client n°12 : SADOUN
Donnez le Nom du client n°13 : THEUREAU
Quel attribut ? Prénom
Donnez le Prénom du client n°2 : Bart
Donnez le Prénom du client n°3 : Mun
Donnez le Prénom du client n°4 : Philippe
Donnez le Prénom du client n°5 : Raphael
Donnez le Prénom du client n°6 : Alexandre
Donnez le Prénom du client n°7 : Hassan
Donnez le Prénom du client n°8 : Thibaut
Donnez le Prénom du client n°9 : Hadjer
Donnez le Prénom du client n°10 : Alexis
Donnez le Prénom du client n°11 : Ahmed
Donnez le Prénom du client n°12 : Salah
Donnez le Prénom du client n°13 : Paul
Quel attribut ? Sexe
Donnez le Sexe du client n°2 : M
Donnez le Sexe du client n°3 : M
Donnez le Sexe du client n°4 : M
Donnez le Sexe du client n°5 : M
Donnez le Sexe du client n°6 : M
Donnez le Sexe du client n°7 : M
Donnez le Sexe du client n°8 : M
Donnez le Sexe du client n°9 : M
Donnez le Sexe du client n°10 : F
Donnez le Sexe du client n°11 : M
Donnez le Sexe du client n°12 : M
Donnez le Sexe du client n°13 : M
Quel attribut ? Solde
Donnez le Solde du client n°2 : 3000
Donnez le Solde du client n°3 : 1500
Donnez le Solde du client n°4 : 4500
Donnez le Solde du client n°5 : 5000
Donnez le Solde du client n°6 : 3500
Donnez le Solde du client n°7 : 2500
Donnez le Solde du client n°8 : 4000
Donnez le Solde du client n°9 : 1000
Donnez le Solde du client n°10 : 3000
Donnez le Solde du client n°11 : 2500
Donnez le Solde du client n°12 : 6000
Donnez le Solde du client n°13 : 4500

# Step 5
Ecrire un bloc pour effectuer un retrait de 500 euros pour client4

In [9]:
client4["Solde"] = client4["Solde"] - 500
print(client4["Solde"])

4000

# Step 6

Ecrire un bloc pour afficher le Solde total

In [ ]:
soldetotal = 0
for client in clients :
    soldetotal = soldetotal + client["Solde"]
    
soldetotal

# Step 7

Écrivez un bloc pour compter le nombre de clients féminins et masculins

In [11]:
Male = 0
Femelle = 0

for client in clients :
    if client["Sexe"] == "M" :
        Male += 1
    else:
        Femelle += 1

print(Male)
print(Femelle)

12
1

# Step 8

Un nouveau client qui arrive KURDY Bassam avec un solde de 2000 euros, il faut l’ajouter dans la base de données avec ou sans méthode

In [13]:
client14 = {}

client14["Nom"] = "KURDY"
client14["Prénom"] = "Bassam"
client14["Sexe"] = "M"
client14["Solde"] = 2000
clients.append(client14)

clients[13]

{'Nom': 'KURDY', 'Prénom': 'Bassam', 'Sexe': 'M', 'Solde': 2000}

# Bonus La Récursivité

Écrire une fonction qui calcule la factorielle de n.

En mathématiques, la factorielle d’un entier naturel n est le produit des nombres entiers strictement positifs inférieurs ou égaux à n. La factorielle est notée !

Exemple : 6! = 6 * 5 * 4 * 3 * 2 *1 = 720

In [15]:
def factoriel (n):
    if n==0:
        return 1
    else:
        return (n * factoriel (n-1))


factoriel(3)

6